.wrapper h2{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.wrapper{
    width: auto;
    text-align: center;
}

.card{
    margin: auto;
    margin-top: 30px;
}

#container{
    width: 100vw;
    padding: 20px;
}

h5{
    padding-bottom: 20px;
}

.opcoes .cad{
    
}

.card .card-body #alinhaConteudoCard{
    display: flex;
}

.card div#itinerario{
    /*border: 1px solid green;*/
    width: 25%;
    /*position: absolute;
    top: 80px;*/
}

.card div#info{
    /*border: 1px solid green;*/
    width: 45%;
}

.card p#preco{
    /*border: 1px solid green;*/
    width: 15%;
    text-align: right;
    font-weight: bold;
    /*position: absolute;
    right: 20px;*/
}

.card div#veiculo{
    /*border: 1px solid green;*/
    width: 20%;
    /*position: absolute;
    left: 20px;*/
}


.card .card-body .btn{
    margin-top: 20px;
}

.btnCad{
    border: none;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}