*{
    padding: 0;
    margin: 0;
}

#logo{
    position: absolute;
    max-width: 8rem;
    margin: 0.8rem;
}

header{
    background-color: rgb(223, 50, 156);
    height: 180px;
    width: 100%;
}

footer{
    width: 100%;
    height: 150px;
    bottom: 0;
    left: 0;
    background-color: black;
    position: fixed;
}