*{
    margin: 0;
    padding: 0;
}

.cardCarona{
    min-width: 375px;
    padding: 25px;
    border-radius: 10px;
    height: 50rem;
    align-items: center;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 5px; 
    border-radius: 50px;
    background: white;
    box-shadow:  20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
}

.infoCarona{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 10px;
}